src/base/release
src/base/chef_net_url_op.cc
src/base/chef_net_url_op.h
src/base/leader_election.h
src/base/zkclient.h
src/base/zkclient.cc
src/base/sub

build/linux/output/base_test/*_test
build/windows/starry-night/Debug
build/windows/starry-night/base/Debug
build/windows/starry-night/base_test/Debug
build/macos/base/output/
xcuserdata/
dump
TODO.md
secret.md
*.log.chef
.DS_Store

##### c/c++/golang #####
*.o
*.obj
*.gch
*.pch
# *.so
# *.so.*
# *.dylib
# *.dll
# *.la
# *.a
# *.lib
*.exe
*.out
_obj
_test
_testmain.go
*.test
*.prof

##### scons #####
.sconsign.dblite

##### cmake #####
CMakeCache.txt
CMakeFiles
CMakeScripts
#Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

##### sass #####
.sass-cache/
*.css.map

##### sublime text #####
*.sublime-workspace
*.sublime-project

##### vim #####
.*.swp
*tags*
.ycm_extra_conf.py
.ycm_extra_conf.pyc

##### javascript #####
node_modules
npm-debug.log

##### macos #####
._Store

##### windows #####
.vs
*.vcxproj.filters
*.vcxproj.user
